<footer class="hero-footer">
  <div class="container">
    <div class="footer-container">
      <div class="footer-row">
        <div class="footer-info-container">
          <svg width="83" height="23" class="footer-logo">
            <use href="/img/symbol-defs.svg#icon-logo" />
          </svg>
          <h3 class="footer-title">
            Subscribe to our newsletter for the latest updates on our yoga
            courses and events.
          </h3>
          <form class="footer-form">
            <div class="footer-label-container">
              <label class="footer-label">
                <input
                  class="footer-input"
                  type="email"
                  name="user-email"
                  required
                  pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                  placeholder="Placeholder"
                />
              </label>
              <button class="footer-button" type="submit">Join</button>
            </div>
          </form>
          <p class="footer-descr">
            By subscribing, you consent to our Privacy Policy and agree to
            receive updates.
          </p>
        </div>
        <div class="footer-wrapper">
          <div class="footer-links-container">
            <h3 class="footer-links-title">Quick Links</h3>
            <ul class="footer-links-list">
              <li class="footer-links-item">
                <a class="footer-links" href="#yoga-classes">Yoga Classes</a>
              </li>
              <li class="footer-links-item">
                <a class="footer-links" href="#team">Team</a>
              </li>
              <li class="footer-links-item">
                <a class="footer-links" href="#pricing">Pricing</a>
              </li>
              <li class="footer-links-item">
                <a class="footer-links" href="#contacts">Contacts</a>
              </li>
            </ul>
          </div>
          <div class="footer-contacts-container">
            <h3 class="footer-links-title">Connect With Us</h3>
            <ul>
              <li class="footer-social-item">
                <a
                  href="https://www.facebook.com/"
                  target="_blank"
                  class="footer-social-link"
                >
                  <svg width="24" height="24" class="social-icon">
                    <use href="./img/symbol-defs.svg#icon-facebook" />
                  </svg>
                  Facebook
                </a>
              </li>
              <li class="footer-social-item">
                <a
                  href="https://www.instagram.com/"
                  target="_blank"
                  class="footer-social-link"
                >
                  <svg width="24" height="24" class="social-icon">
                    <use href="./img/symbol-defs.svg#icon-instagram" />
                  </svg>
                  Instagram
                </a>
              </li>
              <li class="footer-social-item">
                <a
                  href="https://www.linkedin.com/"
                  target="_blank"
                  class="footer-social-link"
                >
                  <svg width="24" height="24" class="social-icon">
                    <use href="./img/symbol-defs.svg#icon-linkedIn" />
                  </svg>
                  LinkedIn
                </a>
              </li>
              <li class="footer-social-item">
                <a
                  href="https://www.youtube.com/"
                  target="_blank"
                  class="footer-social-link"
                >
                  <svg width="24" height="24" class="social-icon">
                    <use href="./img/symbol-defs.svg#icon-youtube" />
                  </svg>
                  YouTube
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <p class="footer-info">2026 Yoga Studio. All rights reserved.</p>
    </div>
  </div>
</footer>
