<footer class="hero-footer">
  <div class="container">
    <div class="footer-container">
      <div class="footer-info-container">
        <svg width="83" height="23" class="footer-logo">
          <use href="/img/symbol-defs.svg#icon-logo" />
        </svg>
        <h3 class="footer-title">
          Subscribe to our newsletter for the latest updates on our yoga courses
          and events.
        </h3>

        <form class="footer-form">
          <div class="footer-label-container">
            <label class="footer-label">
              <input
                class="footer-input"
                type="email"
                name="user-email"
                required
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                placeholder="Placeholder"
              />

              <button class="footer-button" type="submit">Join</button>
            </label>
          </div>
        </form>
        <p class="footer-descr">
          By subscribing, you consent to our Privacy Policy and agree to receive
          updates.
        </p>
      </div>
    </div>
  </div>
</footer>
