<!-- #region gallery -->
<section class="gallery" id="#gallery">
        <div class="container">
                <h2 class="gallery-title">Breathe in the Space</h2>
                <p class="gallery-desc">Step inside YogaBloom and feel the calm. Explore our serene studio and the
                        peaceful
                        moments our community
                        shares
                        during
                        each session.</p>

                <div class="photo-gallery">
                        <ul class="gallery-list">
                                <li class="gallery-item"> <img class="gallery-img" src="/img/gallery/gallery-group1.png"
                                                alt="Yoga group" width="156" height="156"
                                                srcset="/img/gallery/gallery-group1.png 1x, /img/gallery/gallery-group1@2x.png 2x" />
                                </li>
                                <li class="gallery-item"><img class="gallery-img" src="/img/gallery/gallery-group2.png"
                                                alt="Yoga group" width="156" height="156"
                                                srcset="/img/gallery/gallery-group2.png 1x, /img/gallery/gallery-group2@2x.png 2x" />
                                </li>
                                <li class="gallery-item"><img class="gallery-img" src="/img/gallery/gallery-room1.png"
                                                alt="Yoga space" width="156" height="156"
                                                srcset="/img/gallery/gallery-room1.png 1x, /img/gallery/gallery-room1@2x.png 2x" />
                                </li>
                                <li class="gallery-item"><img class="gallery-img" src="/img/gallery/gallery-room2.png"
                                                alt="Yoga space" width="156" height="156"
                                                srcset="/img/gallery/gallery-room2.png 1x, /img/gallery/gallery-room2@2x.png 2x" />
                                </li>
                                <li class="gallery-item"><img class="gallery-img" src="/img/gallery/gallery-group3.png"
                                                alt="Yoga group" width="156" height="156"
                                                srcset="/img/gallery/gallery-group3.png 1x, /img/gallery/gallery-group3@2x.png 2x" />
                                </li>
                                <li class="gallery-item"><img class="gallery-img" src="/img/gallery/gallery-group4.png"
                                                alt="Yoga group" width="156" height="156"
                                                srcset="/img/gallery/gallery-group4.png 1x, /img/gallery/gallery-group4@2x.png 2x" />
                                </li>
                        </ul>

                </div>
        </div>
</section>
<!-- #endregion gallery -->