<section class="pricing" id="pricing">
  <div class="container">
    <p class="pricing-title-above">Affordable</p>
    <h2 class="pricing-title">Pricing Plans</h2>
    <p class="pricing-description">
      Choose the perfect plan for your yoga journey.
    </p>
    <ul class="pricing-plan-list">
      <li class="pricing-plan-item">
        <p class="pricing-plan-title-above">One Session</p>
        <h3 class="pricing-plan-title">$10</h3>
        <ul class="pricing-plan-features">
          <li class="pricing-plan-features-item">
            <svg width="24" height="24">
              <use href="../img/symbol-defs.svg#icon-check"></use>
            </svg>
            <p class="pricing-plan-features-content">1 group session</p>
          </li>
          <li class="pricing-plan-features-item">
            <svg width="24" height="24">
              <use href="../img/symbol-defs.svg#icon-check"></use>
            </svg>
            <p class="pricing-plan-features-content">
              10% discount for next 2 Sessions
            </p>
          </li>
          <li class="pricing-plan-features-item">
            <svg width="24" height="24">
              <use href="../img/symbol-defs.svg#icon-check"></use>
            </svg>
            <p class="pricing-plan-features-content">Community support group</p>
          </li>
        </ul>
        <button class="pricing-plan-button" type="button">Join</button>
      </li>
      <li class="pricing-plan-item">
        <p class="pricing-plan-title-above">8 Sessions Package</p>
        <h3 class="pricing-plan-title">$65</h3>
        <ul class="pricing-plan-features">
          <li class="pricing-plan-features-item">
            <svg width="24" height="24">
              <use href="../img/symbol-defs.svg#icon-check"></use>
            </svg>
            <p class="pricing-plan-features-content">6 Group Sessions</p>
          </li>
          <li class="pricing-plan-features-item">
            <svg width="24" height="24">
              <use href="../img/symbol-defs.svg#icon-check"></use>
            </svg>
            <p class="pricing-plan-features-content">2 Individual Sessions</p>
          </li>
          <li class="pricing-plan-features-item">
            <svg width="24" height="24">
              <use href="../img/symbol-defs.svg#icon-check"></use>
            </svg>
            <p class="pricing-plan-features-content">
              Priority customer support
            </p>
          </li>
        </ul>
        <button class="pricing-plan-button" type="button">Join</button>
      </li>
      <li class="pricing-plan-item">
        <p class="pricing-plan-title-above">12 Sessions Package</p>
        <h3 class="pricing-plan-title">$80</h3>
        <ul class="pricing-plan-features">
          <li class="pricing-plan-features-item">
            <svg width="24" height="24">
              <use href="../img/symbol-defs.svg#icon-check"></use>
            </svg>
            <p class="pricing-plan-features-content">8 Group Sessions</p>
          </li>
          <li class="pricing-plan-features-item">
            <svg width="24" height="24">
              <use href="../img/symbol-defs.svg#icon-check"></use>
            </svg>
            <p class="pricing-plan-features-content">4 Individual Sessions</p>
          </li>
          <li class="pricing-plan-features-item">
            <svg width="24" height="24">
              <use href="../img/symbol-defs.svg#icon-check"></use>
            </svg>
            <p class="pricing-plan-features-content">Monthly yoga challenges</p>
          </li>
          <li class="pricing-plan-features-item">
            <svg width="24" height="24">
              <use href="../img/symbol-defs.svg#icon-check"></use>
            </svg>
            <p class="pricing-plan-features-content">
              Exclusive member discounts
            </p>
          </li>
          <li class="pricing-plan-features-item">
            <svg width="24" height="24">
              <use href="../img/symbol-defs.svg#icon-check"></use>
            </svg>
            <p class="pricing-plan-features-content">Community support group</p>
          </li>
        </ul>
        <button class="pricing-plan-button" type="button">Join</button>
      </li>
    </ul>
  </div>
</section>
