.about-us {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 48px;
    padding-block: 64px;
    padding-inline: 16px;

    max-width: 375px;

    background: #dfebeb;

}

.yoga-helps {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0d0b0a;
}

.text-yoga-helps {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
    color: #0d0b0a;
}

.benefist-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 48px;
}

.benefist-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;

}

.heder-items {
    font-family: "Cabin",
        sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0d0b0a;
}

.text-yoga {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.6;
    text-align: center;
    color: #0d0b0a;
}

.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: #0d0b0a;
    border: 1px solid #c2d9fc;
    border-radius: 100px;
    padding-block: 10px;
    padding-inline: 24px;
    width: 343px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    transition: background-color 0.5s ease;
}

.btn:hover,
.btn:focus {
    transition: background-color 0.5s ease;
    background: #c2d9fc;
}